.ant-drawer-wrapper-body {
    background-color: white;

}

.ant-drawer-header {
    color: white !important;
}


.drawer-button {
    border-radius: 50%;
    background-color: #2c61ad;
    margin-top: 20px;
    margin-left: 3px;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.links {
    color: black;
}
